@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// @for($i from 10 through 100){
//     .fs--#($i){
//         font-size: $i/16+px;
//     }
// }

$body-bg: #f2f2f2;
$body-color: #050516;

$theme-colors: (
	'site-primary': #03223f,
	'site-orange': #fe5129,
	// 'site-text': #03223f,
	// 'site-heading': #03223f,
	'site-secondary': #f1f0ec,
	// 'site-light-heading': #f1f0ec,
	'site-main-color': #d6d5d2,
	'site-horizontalBar-color': #48cae4,
);

// 48cae4
@import 'node_modules/bootstrap/scss/bootstrap';

html {
	font-size: 18px;
	@media (max-width: 1799.98px) {
		font-size: 17px;
	}
	@media (max-width: 1399.98px) {
		font-size: 16px;
	}
	@media (max-width: 1199.98px) {
		font-size: 13px;
	}
	@media (max-width: 991.98px) {
		font-size: 12px;
	}
	@media (max-width: 567.98px) {
		font-size: 11px;
	}
}
$weights: 100 200 300 400 500 600 700 800;
@each $weight in $weights {
	.fw--#{$weight} {
		font-weight: $weight;
	}
}
@for $size from 12 through 96 {
	.fs--#{$size} {
		font-size: $size/16 + rem;
	}
}

small {
	font-size: 10px;
	// line-height: 1px;
	letter-spacing: 1px;
}

.hero_section {
	background-image: url('../img/bg_img.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	// padding-left: 12%;
	background-position: center;
	// background-position: left bottom;
	// background-size: cover;
	// background-clip: padding-box;
}
.promotion-logo {
	right: 63px;
	margin-top: -59px;
	@media  (max-width: 940.8px) {
		right: -2px;
		margin-top: -39px;
		width: 103px;
		height: 92px;
	}
}
