@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


// @for($i from 10 through 100){
//     .fs--#($i){
//         font-size: $i/16+px;
//     }
// }

$body-bg: #f2f2f2;
$body-color: #050516;

$theme-colors: (
	'site-primary': #03223f,
    'site-orange':#fe5129,
    'site-text': #03223f, 
    'site-heading': #03223f,
	'site-secondary': #f1f0ec,
    'site-light-heading': #f1f0ec,
    'site-main-color':#d6d5d2,
    'site-Mainbar-color':#48cae4,
);


// 48cae4
@import 'node_modules/bootstrap/scss/bootstrap';

.hero_section{
    background-image: url('../img/bg_img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 12%;
    background-position: left bottom;

    &_col_1 {
        padding: 0 !important;
        height: auto;
        &_text{
            margin-top: 410px;
            @media(max-width:767.98px){
                margin-top: 60px !important;
            }
            
           
            h4{
                letter-spacing: -1px;
                color: #03223f;
                font-weight: 700;
                font-family: "Open Sans";
                font-size: 30px;

                @media(max-width:767.98px){
                 font-size: 20px !important;
                }
            }
            p{
                
                // letter-spacing: -1px;
                color: #03223f;
                font-weight: 700;
                font-family: "Open Sans";
                font-size: 12px;
         }
            img{
                // margin-top: -57px;
                // margin-right: -75px;
                // margin-top: -50px;
                margin-top: -70px;
                position: absolute;
                right: 0;
                z-index: 1;
                @include media-breakpoint-only(xs) {
                  position: absolute;
                  width: 100px;
                  left: 0;
                  margin-top: -103px;
                }
                }
            }
          
        }

    
    &_col_2 {
        height: 100% 100%;
        &_text1{
            font-size: 21px;
            letter-spacing: 0.8px;
            color: #03223f;
            font-weight: 700;
            font-family: "Open Sans";
        }
        &_text2{
        letter-spacing: 1px;
        color: #03223f;
        font-weight: 700;
        font-family: "Open Sans";
 
        &_text3{
        color: #03223f;
        font-weight: 700;
        font-family: "Open Sans";
        }
           
        }
        &_Card{
            // @media (max-width:1172px){
            //     width: 30rem !important;
                
            // }
            // @media(max-width:767.98px){
            //     width: 30rem !important;
            // }
            // // 586
            // @media(max-width:586px){
            //     width: 20rem !important;
            // }
            //
            // @include media-breakpoint-only(xs) {width: 15rem !important }
            // @include media-breakpoint-only(sm) {width: 30rem !important }



            &_Card_header{ 
                &_Col{
                p {
                    font-size: 16px !important;
                    letter-spacing: 0.5px;
                    color: #eeeeee;
                    font-weight: 700;
                    font-family: "Open Sans"; 
                }
            }
            }
            &_body{
                &_text{
                    small{
                        letter-spacing: 0.5px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
          cursor: pointer;
}
.hero_section_topBar{
   margin-left: 16%;
   @include media-breakpoint-only(xs) {
   margin-left: 0;
  }
    &_column {
        strong {
    //  font-size: 14px;
    //  text-transform: uppercase;
     color: #03223f;
     font-weight: 700;
     font-family: "Open Sans";
        }
    }
}

// Main Section
.hero_section_main_content{
    margin-left: 12%;
    // Media Query
    @media only screen and (max-width: 1024px) and (min-width: 782px)  {
        margin-left: 8% !important;
        
    }
    @include media-breakpoint-only(sm) {
        margin-left: 0px !important;
       }
    @include media-breakpoint-only(xs) {
       margin-left: 0px !important;
      }
    h3{
    font-size: 27px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #03223f;
    font-weight: 700;
    font-family: "Open Sans";
    }
    h5 {
   color: #03223f;
   font-weight: 600;
   font-family: "Open Sans";
    }
    p {
    color: #03223f;
    font-weight: 600;
    font-family: "Open Sans";
    }
}
.hero_section_main_content_Container2{
    margin-left: 117px !important;

    @media only screen and (max-width: 1024px) and (min-width: 782px)  {
        margin-left: 37px !important;

    }
    @media only screen and (max-width: 786px) and (min-width: 587px)  {
        margin-left: 37px !important;

    }
    @include media-breakpoint-only(sm) {
        margin-left: 0px !important;
       }
    @include media-breakpoint-only(xs) {
        margin-left: 0 !important;
       }
}

.hero_section_main_Testimonials{
    // margin-left: 280px;
    // @include media-breakpoint-only(sm) {
    //     margin-left: 0;
    //    }
    // @include media-breakpoint-only(xs) {
    //     margin-left: 0;
    //    }

}